@import '../../node_modules/ceaser-easing/ceaser-easings.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import 'palatte.scss';

*, *:after, *:before {
  position: relative;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: $grey-color;
  background: $white-dark-color;
}

.main-heading {
  margin: 0;
  padding: 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 2.4rem;
  font-weight: 800;
}

label {
  padding: 0 0 0 0.5rem;
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.radio-container {
  padding: 0.6rem 0 0.3rem 0;
  margin-bottom: 1.5rem;
  border: 0;
  border-radius: 3rem;
  color: darken($white-dark-color, 25%);
  background-color: $grey-color;
}

input[type=radio] {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 1rem;
  outline: none;

  & + label {
    display: inline-block;
    top: -0.2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &:focus, &:active, &:checked {
    outline: none;

    & + label {
      color: $white-color;
    }
  }
}

input[type=number],
input[type=time],
input[type=date] {
  display: block;
  width: 100%;
  margin: 0.5rem 0 1.5rem 0;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  border: solid 0.2rem $grey-color;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  outline: none;
}

.button {
  display: inline-block;
  margin: 0 1.5rem 1.5rem 0;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: $grey-dark-color;
  color: $white-dark-color;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);

  &:hover {
    text-decoration: none;
    background-color: $grey-color;
    color: $white-color;
  }

  &:active {
    text-decoration: none;
  }
}

.icon-button {
  width: 5.2rem;
  height: 5.2rem;
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: 5.3rem;
  border-radius: 50%;

  .glyphicon {
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    &.glyphicon-plus {
      padding-left: 0.1rem;
    }
  }

  &.icon-button-small {
    font-size: 1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.5rem;
  }
}

#add-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  animation: fadeIn 0.5s $easeInOutQuad;

  &.show {
    display: block;
  }

  .popup-box {
    position: relative;
    left: 50%;
    max-width: 400px;
    margin: 1.5rem;
    background-color: $white-color;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    animation: easeBottom 0.5s $easeOutQuad;
    transform: translateX(-50%);

    .popup-heading {
      margin: 0;
      padding: 1.5rem 0 2rem 0;
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.3rem;
    }

    .popup-close-button {
      margin: 1rem -0.5rem 0 0;
      float: right;
      z-index: 2;
    }
  }
}

#entry-add-button {
  float: right;
  margin-right: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes easeBottom {
  from {
    top: 10rem;
  }
  to {
    top: 0;
  }
}

#table-date, #graph-date {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  background: none;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  outline: none;

  &:focus {
    outline: none;
  }
}

.date-stat {
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  border-bottom: solid 0.1rem $grey-color;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  span {
    float: right;
  }
}

#table-date-total-in {
  color: $green-color;
}

#table-date-total-out {
  color: $yellow-color;
}

#entry-table {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  background-color: $white-color;
  border-color: $grey-color;

  th {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-color: $grey-color;
    background-color: $grey-color;
    color: $white-dark-color;

    &:nth-child(1) {
      width: 24%;
    }

    &:nth-child(2), &:nth-child(3) {
      width: 38%;
    }
  }

  td {
    border-color: $grey-color;
  }
}

#view-graph-button, #view-table-button {
  margin: 1rem -0.5rem 0 0;
  float: right;
  z-index: 2;
}

.graph-canvas-container {
  width: 100%;
  height: 50rem;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.padding-0 {
  padding: 0;
}